fastapi
uvicorn
openai
langchain_core
langchain_groq
langchain_openai
langchain_text_splitters
pinecone
PyPDF2
python-dotenv
pydantic
streamlit
langgraph
langgraph-checkpoint-postgres
coloredlogs
psycopg[binary,pool]
requests
uuid
pathlib
